/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
div {
  width: 100px;
  height: 100px;
  background: #f00;
  opacity: 1;
}
body {
  background: #f00;
  width: 1000px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
