<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link rel="stylesheet" href="../src/css/core/rockstar.css">
</head>
<body>
  <div class="wrap">

    <!-- header -->
    <div class="header" header>
      <!-- header -->
<div class="inner ba-clearfix">
	<div class="title-wrap ba-fl ba-mr-20">
		<a class="title" href="./">RockstarJs</a>
		<div class="ba-gray">
			<p>
				构建灵活轻量的互联网应用 - for pc
			</p>
		</div>
	</div>
	<img src="../assets/lib/logo/xiaopang.jpg" class="title-img ba-fl">
</div>
    </div>

    
    <div class="nav" nav>
		<!-- nav -->
		<div class="inner">
			<ul class="ba-clearfix ba-pt-20">
				
					<li>
						<a href="./index.html">
							
								<span class="fa fa-home ba-font-18"></span>
							
							首页
						</a>
					</li>
				
					<li>
						<a href="./about.html">
							
							关于 RockstarJs
						</a>
					</li>
				
					<li>
						<a href="./use.html">
							
							使用
						</a>
					</li>
				
					<li>
						<a href="./rule.html">
							
							开发规范
						</a>
					</li>
				
					<li>
						<a href="./organization.html">
							
							代码组织实践
						</a>
					</li>
				
					<li>
						<a href="./tool.html">
							
							工具
						</a>
					</li>
				
			</ul>
		</div>
    </div>

    <!-- content -->
    <div class="content ba-clearfix">
      <div class="nav-left" nav-left-wrap>
        <ul nav-left>
          	
				<li>
					<a href="#lib">
						lib
					</a>
				</li>
			
				<li>
					<a href="#util">
						util
					</a>
				</li>
			
				<li>
					<a href="#widget">
						widget
					</a>
				</li>
			
        </ul>
      </div>
      <div class="index-right" content-right>
      	  
	          <div class="module-wrap ba-clearfix" id="lib">
	          		<h2 class="module-title" id="lib">lib</h2>
	          		<div class="module-list-wrap">
	          			<ul class="module-list">
		          			
			          			<li>
			          				<p class="title">
			          					<a href="../module/lib/jquery.html">
			          						jquery
			          					</a>
			          				</p>
			          				<p class="content">
			          					这是一个jquery
			          				</p>
			          			</li>
		          			
			          			<li>
			          				<p class="title">
			          					<a href="../module/lib/wahaha.html">
			          						wahaha
			          					</a>
			          				</p>
			          				<p class="content">
			          					这是一个jquery1
			          				</p>
			          			</li>
		          			
		          		</ul>
	          		</div>
	          </div>
          
	          <div class="module-wrap ba-clearfix" id="util">
	          		<h2 class="module-title" id="util">util</h2>
	          		<div class="module-list-wrap">
	          			<ul class="module-list">
		          			
			          			<li>
			          				<p class="title">
			          					<a href="../module/util/deji.html">
			          						deji
			          					</a>
			          				</p>
			          				<p class="content">
			          					这是一个util
			          				</p>
			          			</li>
		          			
		          		</ul>
	          		</div>
	          </div>
          
	          <div class="module-wrap ba-clearfix" id="widget">
	          		<h2 class="module-title" id="widget">widget</h2>
	          		<div class="module-list-wrap">
	          			<ul class="module-list">
		          			
			          			<li>
			          				<p class="title">
			          					<a href="../module/widget/form.html">
			          						表单
			          					</a>
			          				</p>
			          				<p class="content">
			          					这是一个表单
			          				</p>
			          			</li>
		          			
			          			<li>
			          				<p class="title">
			          					<a href="../module/widget/haha.html">
			          						haha
			          					</a>
			          				</p>
			          				<p class="content">
			          					这是一个haha
			          				</p>
			          			</li>
		          			
		          		</ul>
	          		</div>
	          </div>
          
      </div>
    </div>	

    <!-- footer -->
    <div class="footer" footer>
      <!-- footer -->
<div class="footer-inner ba-font-14 ba-tr ba-mt-20">
	<a href="http://www.rockstars.com.cn" target="_blank">罗格斯达</a>&nbsp;&nbsp;
	<a href="http://seajs.org" target="_blank">seajs</a>,
	<a href="http://backbonejs.org" target="_blank">backbone</a>,
	<a href="http://aralejs.org/class" target="_blank">class</a>,
	<a href="https://code.csdn.net/Tencent/tmodjs" target="_blank">tmod</a>,
	<a href="http://lab.lepture.com/nico/zh" target="_blank">nico</a>,
	<a href="http://nodejs.org/" target="_blank">nodejs</a>,
	<a href="http://www.expressjs.com.cn" target="_blank">express</a>,
	<a href="http://koa.bootcss.com" target="_blank">koa</a>,
	<a href="http://www.gruntjs.org" target="_blank">grunt</a>
</div>
    </div>
  </div>

<script src="../seajs/sea.js"></script>
<script src="../seajs/config.js"></script>
<script>
  seajs.use('driver/R');
</script>   
</body>
</html>