<!-- 右侧消息 -->
<div class="right-bar">
	<div class="msg-bar">
		<!-- <ul class="ba-clearfix">
			<li>
				<div class="ba-mt-4">
					全部消息
				</div>
				<span>
					(<span msg-all>0</span>)
				</span>
			</li>
			<li>
				<div class="ba-mt-4">
					未读消息
				</div>
				<span>
					(<span msg-no>0</span>)
				</span>
			</li>
			<li class="br-none">
				<div class="ba-mt-4">
					已处理
				</div>
				<span>
					(<span msg-hased>0</span>)
				</span>
			</li>
		</ul> -->
		<ul class="ba-clearfix ba-tc">
			发送消息
		</ul>
	</div>
	<div class="msg-content">
		<ul msg-all-wrap>
			<!-- tpl: customService/msgAll.html -->
		</ul>
	</div>
</div>