<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../statics/src/css/core/rockstar.css">
<link rel="stylesheet" href="../statics/src/css/main/index.css">
</head>

<body>
112312dsdddsdsddsd1133445566sddsdfd11dddsdfsd

<p>sdfsd</p>


<div>aaa</div>


<div>
	
</div>

<script src="../statics/seajs/sea.js"></script>
<script src="../statics/seajs/config.js"></script>
<script>
	seajs.use('main/index');
</script>
</body>
</html>