/**
 *description:内容管理编辑添加列表
 *author:fanwei
 *date:2015/1/31
 */
/**
 *description:网站全局less变量-配置
 *author:fanwei
 *date:2014/10/30
 */
/* use-most-var */
/* color */
/* a-link */
/* font-family */
/* h-size */
/* btn */
/* layer */
/* site-config */
/**
 *description:网站全局less函数-pc
 *author:fanwei
 *date:2014/10/30
 */
/* line-height */
/* font-size */
/* margin */
/* padding */
/* opacity */
/* trangle */
/**
 *description:css3-pc
 *author:fanwei
 *date:2014/10/31
 */
/**
 *description:标签添加
 *author:fanwei
 *date:2015/1/25
 */
.tag-wrap {
  width: 460px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.tag-wrap.no-border {
  border: none;
}
.tag-wrap .tag-input {
  width: 98%;
  height: 30px;
  line-height: 30px;
  padding-left: 2px;
  border: none;
  background: none;
  margin: 0 auto 5px auto;
  display: block;
}
.tag-wrap .tag-list-wrap {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 10px;
  word-break: break-all;
}
.tag-wrap .tag-list {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 5px 0;
  background: #fff;
}
.tag-wrap .tag-list .tag-name {
  margin-right: 5px;
}
.tag-wrap .tag-list .tag-close {
  cursor: pointer;
  position: relative;
  top: -3px;
  color: #ccc;
}
.tag-wrap .tag-list .tag-close:hover {
  color: #666;
}
.main-content .table {
  width: 600px;
  text-align: left;
}
.main-content .table td {
  vertical-align: top;
}
.upload-area {
  min-height: 150px;
}
.uploadBtn {
  display: none;
}
.editor-wrap {
  min-height: 412px;
}
.editor-wrap.auto {
  min-height: 0;
}
.loading-shadow {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.progress-wrap {
  position: fixed;
  margin: -10px 0 0 -100px;
  z-index: 2001;
  left: 50%;
  top: 50%;
}
.webuploader-view-list.desktop {
  border: 2px solid #57b382;
}
