<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
{{include '../include/meta'}}
<link rel="stylesheet" href="{{cssPath}}core/rockstar.css">
<link rel="stylesheet" href="{{cssPath}}main/shop/content/index.css">
</head>

<body>
	{{include '../include/header'}}
	<div class="main-content">
		{{include '../include/nav'}}
		{{include '../include/msg'}}
		<div class="center-bar">
			<div class="bar-title ba-clearfix">
				<span class="ba-intro">{{title}}</span>
				<a href="{{views['content/addEdit'].url}}" class="btn btn-primary bar-right-btn">添加</a>
			</div>
			<div class="main-content">
				<table class="table bordered striped" width="100%" list-wrap>
					<thead>
						<tr>
							<td width="60%">主题</td>
							<td width="40%">管理</td>
						</tr>
					</thead>
					<tbody data-ele="data-wrap">
						<!--  -->
					</tbody>
				</table>
				<!-- fenye -->
				{{include '../include/fenye'}}
			</div>	
		</div>	
	</div>

{{include '../include/siteConfig'}}
<script src="{{seaPath}}seajs/sea.js"></script>	
<script src="{{seaPath}}seajs/config.js"></script>
<script>
	seajs.use('main/shop/content/index');
</script>
</body>
</html>